*{
    font-family: 'DM Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:#55efc4;
}
header{
    width: 100%;
}
.logo {
    font-size: 22px;
    font-weight: 900;
}
.nav-parents{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}
.nav-items{
    display: flex;
}
.nav-items ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}
.nav-items ul li{
    padding: 5px 15px;
    border-radius: 2px;
    cursor: pointer;
    transition: 0.5s;
}
.nav-items ul li:hover{
    background-color: #3aa587;
}

.log{
    background-color: #0984e3;
    color: #fff;
    font-size: 16px;
    padding: 8px 34px;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
}

/* title section start */

.ban-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-top: 80px;
    width: 90%;
   /* gap: 40px; */
}

.ban-text{
  width: 550px;  
}
.ban-text h1{
    font-size: 50px;
}
.ban-text p{
    font-size: 17px;
    padding: 20px 0 40px 0;
}
.btn{
    background-color: #0984e3;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 45px;
    margin: 0;
    cursor: pointer;
}
.ban-img img{
    width: 430px;
    height: 430px;
}

/* first section code start */
#sec-1{
    margin: 100px 0;
    text-align: center;
}
.fea-logo{
    font-size: 25px;
    margin-bottom: 100px;
}
#fea-parent{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
    gap: 70px;
    width: 90%;
}
.fea-items{
    border: 1px solid black;
    padding: 25px 10px;
    border-radius: 8px;
}
.fea-items i{
    font-size: 18px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 50%;
}
.fea-items h4{
    font-size: 19px;
    padding: 12px 0;
    font-weight: 800;
}
.fea-items p{
    font-size: 15px;
}

/* second section code start here */
#sec-2{
   margin: 150px 0;
}
#health-parent{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    gap: 180px;
}
.heal-text h2{
    font-size: 35px;
    padding: 20px 0;
    font-weight: 900;
}
.heal-text p{
    font-size: 16px;
}
.read-button2{
    margin-top: 30px;
    background-color: #0984e3;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 8px 35px;
    cursor: pointer;
}
.heal-img img{
    width: 480px;
    height: 460px;
}

/* team section code start  */
#sec-3{
    text-align: center;
    margin: 150px 0;
}
.team-title{
    margin: 80px 0;
}
.team-title h2{
    font-size: 32px;
    font-weight: 800;
}
.team-title h4{
    font-size: 22px;
    margin-bottom: 15px;
    font-weight: 400;
}
#team-parent{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 90%;
    margin: 0 auto;
    gap: 75px;
}
.team-items img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.team-items h4{
    font-size: 16px;
    padding-top: 14px;
}

/* contact section code start */

.sec-4{
    background-image: url(./image/3f4e69f9-81a4-4310-9220-a2be352438b5.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}
.sec-title{
   width: 900px;
   margin: auto;
   padding: 120px;
   text-align: center;
}
.sec-title h1{
    font-size: 40px;
    color: #fff;
    font-weight: 800;
}
.sec-title p{
    padding: 26px 0;
    color: #fff;
}
/* #sec-4{
   
}
.con-parent{
    background-image: url(image/3f4e69f9-81a4-4310-9220-a2be352438b5.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
}
.con-items{
   position: absolute;
}
.em{

} */